*{
    margin:0;
    padding:0;
}
body{
   
}
#titulo{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(255, 255, 255);
    text-shadow: 0px 0px 20px black;
}
#dinamite{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    text-shadow: 10px 0px 20px black;

}
#img{
    width:400px;
    height:200px;
    margin-left:545px;
    border-style:solid;

}
#img2{
width: 75px;
height: 100px;
position: absolute;


}
#descriçao{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
   margin-top: 10px;
   font-size: 25px;
   color: white;
   text-shadow: 10px 0px 20px black; 
}

